@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-thin text-5xl text-slate-700;
}

h2,
li {
  @apply font-extralight text-2xl text-slate-700;
}
h3 {
  @apply font-extralight text-xl text-slate-700;
}
h4 {
  @apply font-light text-lg text-slate-700;
}

p,
span {
  @apply font-light text-sm text-slate-700;
}
small {
  @apply font-light italic text-gray-500;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply px-4;
}
/* body {
  @apply bg-slate-100;
} */
/* .border {
  @apply border-gray-400;
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.slideRight-leave-active,
.slideRight-enter-active {
  transition: all 0.25s ease;
}
.slideRight-enter-from,
.slideRight-leave-to {
  transform: translate(-100%, 0);
}

* {
  -webkit-tap-highlight-color: transparent;
}
